<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>채팅 커뮤니티 게시판 상세</title>
    <link rel="stylesheet" th:href="@{/css/chat/chat.css}"/>
    <link rel="stylesheet" th:href="@{/css/chat/chat-post-detail.css}"/>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
</head>

<body>
<div class="app-container">

    <header class="app-header">
        <button id="backBtn" class="back-btn">
            <i class="fas fa-arrow-left"></i>
        </button>
        <h1 class="app-title" th:text="${performanceTitle}">공연 이름</h1>
        <div class="header-spacer"></div>
    </header>

    <main class="app-content">

        <article class="chat-post-detail">

            <h2 class="post-title" th:text="${chatPost.title}">제목</h2>

            <div class="post-meta">
                <span class="author-nickname" th:text="${chatPost.writerName}">닉네임</span> |
                <span th:text="${#temporals.format(chatPost.createdAt, 'yyyy-MM-dd HH:mm')}"></span>
                <span class="member-count" th:text="${chatPost.currentMember} + '/' + ${chatPost.maxMember}">1/4</span>
            </div>

            <div class="post-actions">
                <!-- 로그인 사용자와 작성자 일치할 때만 보임 -->
                <button
                    th:if="${#authentication.principal != null and currentProfileId == chatPost.writerId and currentProfileMode == chatPost.writerProfileMode}"
                    id="btn-edit"
                    class="btn-action"
                    th:data-performance-id="${performanceId}"
                    th:data-id="${chatPost.id}">
                    수정하기
                </button>

                <button
                    th:if="${#authentication.principal != null and currentProfileId == chatPost.writerId and currentProfileMode == chatPost.writerProfileMode}"
                    id="btn-delete"
                    class="btn-action"
                    th:data-performance-id="${performanceId}"
                    th:data-id="${chatPost.id}">
                    삭제하기
                </button>
            </div>

            <section class="post-content" th:text="${chatPost.content}">
                글 상세내용
            </section>

            <button th:if="(status == T(com.encore.encore.domain.chat.entity.ChatPost.Status).OPEN
         and currentMember < maxMember)
        or (participantIds != null and participantIds.contains(currentProfileId))"

                    id="btn-join" class="btn-join" th:data-room-id="${roomId}">채팅방 참가하기
            </button>

            <button id="btn-report" class="btn-report">신고하기</button>

        </article>

    </main>
</div>

<script th:src="@{/js/chat/chatPostDetail.js}"></script>
</body>
</html>
