<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>채팅방 생성</title>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.2/dist/litera/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/chat/chat.css}">
    <link rel="stylesheet" th:href="@{/css/chat/chat-post-form.css}">

</head>

<body>
<div class="app-container">

    <!-- ===== 상단 헤더 ===== -->
    <header class="app-header">
        <button id="backBtn" class="back-btn">
            &larr;
        </button>

        <h1 class="app-title">채팅방 생성</h1>

        <!-- 우측 여백 맞추기용 더미 -->
        <div style="width: 36px;"></div>
    </header>

    <!-- ===== 스크롤 영역 ===== -->
    <main class="app-content">

        <section class="chat-form">
            <form id="chatPostForm">
                <input type="hidden" id="performanceId" th:value="${performanceId}">

                <div class="mb-3">
                    <label>공연명</label>
                    <input type="text"
                           th:value="${performanceTitle}"
                           class="form-control"
                           readonly>
                </div>

                <div class="mb-3">
                    <label for="title">제목</label>
                    <input type="text"
                           id="title"
                           class="form-control"
                           placeholder="제목을 입력하세요"
                           required>
                </div>

                <div class="mb-3">
                    <label for="content">내용</label>
                    <textarea id="content"
                              class="form-control"
                              rows="5"
                              placeholder="내용을 입력하세요"

                              required></textarea>
                </div>

                <div class="mb-3">
                    <label for="maxMember">모집 인원</label>
                    <input type="number"
                           id="maxMember"
                           class="form-control"
                    >
                </div>


                <button type="submit"
                        class="btn btn-primary w-100">
                    생성하기
                </button>
            </form>
        </section>

    </main>
</div>
<script th:src="@{/js/chat/chatPostForm.js}"></script>
</body>

</html>
