<!DOCTYPE html>
<html xmlns:th="thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>chatPostUpdateForm.html</title>
</head>

<body>

<!-- 헤더 -->
<nav class="navbar navbar-dark bg-primary fixed-top">
  <div class="container-fluid">
    <button id="backBtn" class="btn btn-outline-light btn-sm">&larr; 뒤로</button>
    <div></div>
  </div>
</nav>

<!-- 채팅방 생성 폼 -->
<div class="content-wrapper">
  <form
    th:action="@{/performance/{performanceId}/chat/{chatId}/update(performanceId=${performanceId},
     chatId=${chatPost.id})}" method="post">
    <input type="hidden" name="performanceId" th:value="${performanceId}">

    <div class="mb-3">
      <label for="performance">공연</label>
      <input type="text" th:value="${performanceId}" id="performance" class="form-control" readonly>
    </div>

    <div class="mb-3">
      <label for="title">제목</label>
      <input type="text" name="title" id="title" th:value="${chatPost.title}" class="form-control"
             placeholder="제목을 입력하세요" required>
    </div>

    <div class="mb-3">
      <label for="content">내용</label>
      <textarea name="content" id="content" class="form-control" th:text="${chatPost.content}" rows="5"
                placeholder="내용을 입력하세요" required></textarea>
    </div>


    <button type="submit" class="btn btn-primary btn-create">작성하기</button>
  </form>
</div>

<!-- 하단 네비 (옵션) -->
<div class="bottom-nav">
  <button type="button" class="btn btn-link">파티모집</button>
  <button type="button" class="btn btn-link">긴급모집</button>
  <button type="button" class="btn btn-link active">홈</button>
  <button type="button" class="btn btn-link">DM</button>
  <button type="button" class="btn btn-link">채팅방</button>
</div>

<script src="/static/chat/js/chatPostForm.js"></script>
</body>
</html>
