<!doctype html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <title>Title</title>
    </head>
    <body>
        <div class="header">
            <h1>프로필 선택</h1>
        </div>

        <div class="profile-container">
            <div class="profile-item">
                <div class="profile-circle">1번 원</div>
                <div class="profile-name">User</div>
                <div class="profile-desc">user 설명</div>
            </div>

            <div class="profile-item">
                <div class="profile-circle">2번 원</div>
                <div class="profile-name">Artist</div>
                <div class="profile-desc">Artist 설명</div>
            </div>

            <div class="profile-item">
                <div class="profile-circle">3번 원</div>
                <div class="profile-name">Host</div>
                <div class="profile-desc">Host 설명</div>
            </div>
        </div>
    </body>
</html>
