<footer th:fragment="footer(items)">

    <style>
        .footer-wrapper {
          width: 100%;
          background-color: #333333;
          /* Sub Color */
          padding: 20px 0;
          display: flex;
          justify-content: center;
          border-top: 2px solid #E63946;
          /* Main Color 포인트 */
        }

        .footer-container {
          width: 100%;
          max-width: 1200px;
          display: flex;
          justify-content: space-around;
          align-items: center;
        }

        .footer-link {
          text-decoration: none;
          color: #ffffff;
          font-size: 14px;
          font-weight: 500;
          transition: 0.2s;
        }

        .footer-link:hover {
          color: #E63946;
          /* Main Color */
        }
    </style>

    <div class="footer-wrapper">
        <div class="footer-container">
            <a th:each="item : ${items}" th:href="${item.href}" class="footer-link" th:text="${item.label}">
            </a>
        </div>
    </div>

</footer>


<!--

footer 사용 예시

아래와 같이 이동하는 url 넣기

<div th:replace="~{fragments/footer :: footer(
      ${ {
          {label:'모집글', href:'/posts'},
          {label:'공연장리스트', href:'/venueList'},
          {label:'홈', href:'/feed'},
          {label:'DM', href:'/directMessage'},
          {label:'채팅방', href:'/chat'}
      } }
)}"></div>


-->
